nav {
    float: right
}

.container-logo{
    align-items: start;
    
}

.navbar{
    width: 100%;
}

.img-cabecera{
    width: 100%;
    height: auto;
}

.img-about{
    width: 100%; 
}

.logo {
    width: 80px;
    height: auto;
    align-items: start;
}

#carouselExample, .carousel-inner,.carousel-item{
    height: 85vh;
}

.carousel-item img{
    object-fit: cover;
    object-position: center;
}

.carousel-control-prev-icon{
    background-image: url("assets/arrow.png");
    height: 4rem;
    width: 4rem;
    filter: drop-shadow(2px 2px 2px white);
}

.carousel-control-next-icon{
    background-image: url("assets/arrowLeft.png");
    height: 4rem;
    width: 4rem;
    filter: drop-shadow(2px 2px 2px white);

}
.carousel-caption h5,.carousel-caption p{
    background-color: black;
    width: fit-content;
    margin: auto;
    padding: 5px;
    border-radius: 3px;
}
@media (width <= 540px) {
    #carouselExample, .carousel-inner, .carousel-item{
        height: 45vh;
    }
}


.seccion1{
    margin-top: 50px!important;
    padding: 15px;
}

.btn-primary{
    border-radius: 50px;
    background-color: darkgreen;
    border-color: unset;
    transition: 0,5s;

}

.btn-primary:hover{
    color: black;
    background-color: greenyellow;
    border-color: unset!important;
    
}