<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
   
  </head>
  <body>
        <nav>
            <ul>
                <li>
                    <a href="../index.html">Inicio</a> 
                </li>
                <li>
                    <a href="/curso_fullstack/proyecto1/views/Servicios.html">Servicios</a>
                </li>
                <li>
                    <a href="/curso_fullstack/proyecto1/views/Contacto.html">Contacto </a>
                </li>
            </ul>
        </nav>
        <main>
            <section>
                <h1>Servicios</h1>
                <article>
                    <div class="content-article">
                        <h3 class="subtitle">Articulo 1</h3>
                     
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur possimus dolore accusantium delectus obcaecati provident optio necessitatibus nisi quisquam! Ullam itaque at nesciunt! Cumque error, porro adipisci unde enim repellat!</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur possimus dolore accusantium delectus obcaecati provident optio necessitatibus nisi quisquam! Ullam itaque at nesciunt! Cumque error, porro adipisci unde enim repellat!</p>
    
                    </div>
                    <div class="img-article">
                        <img src="../assets/img1.jpg" alt="Imagen articulo 1">
                    </div>
                   
                   
                </article>
                <hr>
                <article>
                    <div class="content-article">
                        <h3 class="subtitle">Articulo 2</h3>
                     
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur possimus dolore accusantium delectus obcaecati provident optio necessitatibus nisi quisquam! Ullam itaque at nesciunt! Cumque error, porro adipisci unde enim repellat!</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur possimus dolore accusantium delectus obcaecati provident optio necessitatibus nisi quisquam! Ullam itaque at nesciunt! Cumque error, porro adipisci unde enim repellat!</p>
    
                    </div>
                    <div class="img-article">
                    <img  src="../assets/img2.jpg" alt="Imagen articulo 2">
                   </div>

                   
                </article>
               
            </section>
        
        </main>
       
        <footer>

        </footer>
        <script src="/proyecto1/javascript/"> </script>
  </body>
</html>
